.mainContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px;
    margin: 10px;
}
.child {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}


.restButtonsContainer {
    color: aqua;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}
.header__logo {
    height: 30px;
}
a {
    text-decoration: none;
    color: #213053;
}